{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"> <!-- Main stile -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> <!-- Slider stile -->
    <title>Document</title>
</head>
<body>

    <div class="header">
    <div class="container">

        <div class="header__left_text_block">
            <a href="/">Главная</a>
            <a href="/About">О нас</a>
            <a href="/contact">Контакты</a>
        </div>

        <div class="header__right_text_block">
            <div class="header__right_text_block__contact">
                <img src="{% static 'img/phone.svg'%}" alt="">
                <p>8 (964) 89 99 119</p>
            </div>

            <div class="header__right_text_block__delivery">
                <img src="{% static 'img/delivery.svg'%}" alt="">
                <a href="/Delivery">Доставка</a>
            </div>
        </div>

    </div>
</div> <!-- Main header -->

    <div class="header2">
    <div class="header2_container">

        <div class="header2__top_block"> <!-- Top -->
            <div class="header2__burger_menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
    
            <div class="header2__logo">
                <img src="{% static 'img/logo.svg'%}" alt="">
            </div>
    
            <div class="header2__input_block">
                <button class="header2__input_block__button"><img src="{% static 'img/search.svg'%}" alt=""></button>
                <input type="text" name="" id="" class="header2__input_block__input">
            </div>
    
            <div class="header2__buttons_block">
                <button><img src="{% static 'img/wishlist.svg' %}" alt=""></button>
                <button><img src="{% static 'img/bag.svg' %}" alt=""></button>
                <button><img src="{% static 'img/profile.svg' %}" alt=""></button>
            </div>
        </div>

        <div class="header2__bottom_block"> <!-- Bottom -->
            <div class="header2__bottom_block__input_block">
                <button class="header2__bottom_block__input_block__button"><img src="{% static 'img/search.svg'%}" alt=""></button>
                <input type="text" name="" id="" class="header2__bottom_block__input_block__input">
            </div>
        </div>
    
    </div>
</div> <!-- Second header, input bar -->

    <div class="header3">
    <div class="header3__container">

        <div class="header3__menu_block">

            <div class="header3__menu_block__element0 element">
                <div class="header3__menu_block__element0__content_block element_block">
                    <img src="{% static 'img/kitchen-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Кухни</a>

                    <ul class="sub-menu-list0 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Мойки, сушилки, смесители для кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Дополнительная фурнитура</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Бытовыя техника</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header3__menu_block__element1 element">
                <div class="header3__menu_block__element1__content_block element_block">
                    <img src="{% static 'img/bedroom-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Спальни</a>

                    <ul class="sub-menu-list1 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Мойки, сушилки, смесители для кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Дополнительная фурнитура</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Бытовыя техника</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header3__menu_block__element2 element">
                <div class="header3__menu_block__element2__content_block element_block">
                    <img src="{% static 'img/livingroom-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Гостинные</a>

                    <ul class="sub-menu-list2 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Мойки, сушилки, смесители для кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Дополнительная фурнитура</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Бытовыя техника</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header3__menu_block__element3 element">
                <div class="header3__menu_block__element3__content_block element_block">
                    <img src="{% static 'img/closet-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Прихожие</a>

                    <ul class="sub-menu-list3 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Мойки, сушилки, смесители для кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Дополнительная фурнитура</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Дополнительная фурнитура</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Бытовыя техника</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header3__menu_block__element4 element hide">
                <div class="header3__menu_block__element4__content_block element_block">
                    <img src="{% static 'img/office-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Офисная мебель</a>

                    <ul class="sub-menu-list4 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>
                </div>
            </div>

            <div class="header3__menu_block__element5 element">
                <div class="header3__menu_block__element5__content_block element_block">
                    <img src="{% static 'img/childrensroom-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Детская</a>

                    <ul class="sub-menu-list5 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>                        
                    </ul>
                </div>
            </div>


            <div class="header3__menu_block__element6 element">
                <div class="header3__menu_block__element6__content_block element_block">
                    <img src="{% static 'img/bedroom-icon.svg'%}" alt="">
                    <a href="#" class="main-link">Спальни</a>

                    <ul class="sub-menu-list6 sub-menu-list">
                        <li>
                            <a href="" class="list-item">Модульные кухни</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Барная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Кухонные уголки</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Обеденная зона</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Столешницы</a>
                        </li>
                        <li>
                            <a href="" class="list-item">Стеновые панели</a>
                        </li>                        
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div> <!-- Main manu, header -->

    <div class="slider">
    <div class="slider__container">

        <div class="slider__item1 slider__item">
            <div class="slider__item__text_block">
                <div class="slider__item__text_block__title">loft <br> мебель</div>
                <div class="slider__item__text_block__sub_title">Современная и удобная мебель в Анапе</div>
                <button class="slider__item__text_block__button">СМОТРЕТЬ КАТАЛОГ</button>
            </div>
        </div>

        <div class="slider__item2 slider__item">
            <div class="slider__item__text_block">
                <div class="slider__item__text_block__title">loft <br> мебель</div>
                <div class="slider__item__text_block__sub_title">Современная и удобная мебель в Анапе</div>
                <button class="slider__item__text_block__button">СМОТРЕТЬ КАТАЛОГ</button>
            </div>
        </div>

        <div class="slider__item3 slider__item">
            <div class="slider__item__text_block">
                <div class="slider__item__text_block__title">loft <br> мебель</div>
                <div class="slider__item__text_block__sub_title">Современная и удобная мебель в Анапе</div>
                <button class="slider__item__text_block__button">СМОТРЕТЬ КАТАЛОГ</button>
            </div>
        </div>

    </div>
</div> <!-- Slider -->

    <main class="main">
        <div class="main__container">

        <div class="main__title">
            <div class="main__title__text">
                Хиты продаж
            </div>
        </div>

            <div class="main__block_products">

    {% for i in item %}
    <div class="product_card" id={{i.id}}>

        <div class="product_card__main_block">

            <div class="product_card__main_block__top_block">

                {% if i.product_discount != 0 %}
                <div class="product_card__main_block__top_block__discont_block">
                    <img src="./static/img/discount.svg" alt="">
                    <div>-{{ i.product_discount }}%</div>
                </div>
                {% endif %}

                <div class="product_card__main_block__top_block__liked_block">
                    <img src="./static/img/wishlist.svg" alt="">
                </div>
            </div>

            <div class="product_card__main_block__image_block">
                <img src={{i.product_img.url}} alt="">
            </div>

            <div class="product_card__main_block__title_block">
                <div>{{ i.product_name }}</div>
            </div>

            <div class="product_card__main_block__category_block">
                <div>{{ i.product_category }}</div>
            </div>

            <div class="product_card__main_block__price_block">
                {% if i.product_discount != 0 %}

                <div class="product_card__main_block__price_block__actual_price actual_price">{{ i.product_price }}₽</div>
                <div class="product_card__main_block__price_block__price_before_discount"><strike>{{ i.product_price }}₽</strike></div>

                {% else %}
                <div class="product_card__main_block__price_block__actual_price">{{ i.product_price }}₽</div>
                {% endif %}
            </div>

        </div>

                <div class="product_card__hide_block {{ i.id }}">

                    <div class="product_card__hide_block__size_title">
                        <div>Размеры</div>
                    </div>

                    <div class="product_card__hide_block__size_block">
                        <div class="product_card__hide_block__size_block__width_block">
                            <div class="product_card__hide_block__size_block__width_block__title">
                                <div>Ширина</div>
                            </div>
                            <div class="product_card__hide_block__size_block__width_block__value">
                                <div>{{ i.product_width }} cm</div>
                            </div>
                        </div>

                        <div class="product_card__hide_block__size_block__between">
                            x
                        </div>

                        <div class="product_card__hide_block__size_block__depth_block">
                            <div class="product_card__hide_block__size_block__depth_block__title">
                                <div>Глубина</div>
                            </div>
                            <div class="product_card__hide_block__size_block__depth_block__value">
                                <div>{{ i.product_depth }} сm</div>
                            </div>
                        </div>

                        <div class="product_card__hide_block__size_block__between">
                            x
                        </div>

                        <div class="product_card__hide_block__size_block__height_block">
                            <div class="product_card__hide_block__size_block__height_block__title">
                                <div>Высота</div>
                            </div>
                            <div class="product_card__hide_block__size_block__height_block__value">
                                <div>{{ i.product_height }} cm</div>
                            </div>
                        </div>
                    </div>

                    <div class="product_card__hide_block__button_block">
                        <button>Добавить в корзину</button>
                    </div>

                </div>
    </div>

    {% endfor %}
            </div>
        </div>

</main>

<footer class="footer">
    <div class="footer__container">

        <div class="footer__content_block">
            <div class="footer__content_block__left_block">

                <div class="footer__content_block__left_block__content_block">
                    <div class="footer__content_block__left_block__content_block__title">
                        <div>NAVIGATION</div>
                    </div>

                    <div class="footer__content_block__left_block__content_block__categoreis_block">
                            <div class="footer__content_block__left_block__content_block__categoreis_block__block_1">
                                <a href="">Kitchen</a>
                                <a href="">Badroom</a>
                                <a href="">Living rooms</a>
                            </div>
                            <div class="footer__content_block__left_block__content_block__categoreis_block__block_2">
                                <a href="">Hallways</a>
                                <a href="">Office furniture</a>
                                <a href="">Baby room</a>
                            </div>
                            <div class="footer__content_block__left_block__content_block__categoreis_block__block_3">
                                <a href="">Cabinets</a>
                                <a href="">Mattresses</a>
                                <a href="">Cushioned furniture</a>
                            </div>
                    </div>

                    <div class="footer__content_block__left_block__content_block__extra_category_block">
                        <div>Stock</div>
                        <div>New</div>
                    </div>
                </div>

            </div>

            <div class="footer__content_block__right_block" align="right">
                <div class="footer__content_block__right_block__content_block">
                    <div class="footer__content_block__right_block__content_block__logo">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </div>

                    <div class="footer__content_block__right_block__content_block__address">
                        <div>г. Анапа, Анапское шоссе, </br>
                            30 Ж/К Черное море
                            </div>
                    </div>

                    <div class="footer__content_block__right_block__content_block__contacts">
                        <div class="footer__content_block__right_block__content_block__contacs__phone">
                            <img src="{% static 'img/phone_dark.svg' %}" alt="">
                            <div>8 (964) 89 99 119</div>
                        </div>

                        <div class="footer__content_block__right_block__content_block__contacs__instagram">
                            <img src="{% static 'img/inst.svg' %}" alt="">
                            <div>INSTAGRAM</div>
                        </div>

                        <div class="footer__content_block__right_block__content_block__contacs__email">
                            <img src="{% static 'img/mail.svg' %}" alt="">
                            <div>mebel_loft_anapa@mail.ru</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer> <!-- Footer -->

    
    

    <!-- JQuery js file -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>

    <!-- Slider js file -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Main js file -->
    <script src="{% static 'js/app.min.js'%}"></script>

</body>
</html>